*:before ,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html , body {
  height: 100%;
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
}
body a {
  color: inherit;
}
body a:hover {
  color: red;
}
.container {
  height: auto;
}
.top-nav {
  height: 125px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: #7F7F7C;
}
.left-nav {
  float: left;
  height: 100%;
  width: 50%;
}
.profile-pic {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 5px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 10px;
}
.nav-name {
  font-size: 21px;
  font-weight: bold;
  padding: 5px;
}
.nav-title {
  font-size: 12px;
  padding: 5px;
}
.left-nav-icons {
  padding-top: 10px;
}
.left-nav-icons img {
  height: 30px;
  width: 25px;
  padding: 5px;
  display: inline-block;
}
.left-nav-icons img:first-child {
  padding-left: 0;
}
.right-nav {
  float: right;
  height: 100%;
  width: 50%;
  padding-left: 10%;
}
.right-nav p {
  font-size: 36px;
  font-weight: bold;
  padding: 0 20px;
  display: inline-block;
  padding-top: 30px;
}
.header {
  text-align: center;
  padding: 30px 0;
  color: white;
  background-color: #BFBEBA;
}
.header p {
  font-size: 36px;
  font-weight: 600;
}
.main-page {
  height: auto;
  max-width: inherit;
  clear: both;
}
.main-page div {
  position: relative;
  float: left;
  width: 20%;
  height: 175px;
  margin: 5%;
  margin-left: 7%;
}
.main-page img {
  border-radius: 5px;
  border: 5px ridge gray;
  padding: 5px;
  border-radius: 5px;
}
.main-page p {
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
.bottom-nav {
  clear: both;
  height: 280px;
  background-color: #7F7F7C;
}
.bottom-nav div {
  width: 31%;
  height: auto;
  float: left;
}
.bottom-nav-left img {
  height: 5em;
  width: 5em;
  float: left;
  margin: 2em;
  border-radius: 50%;
}
.bottom-nav-left p {
  font-size: 18px;
  color: black;
  clear: both;
  width: 75%;
  margin-left: 2em;
  margin-bottom: 1em;
}
.bottom-nav-middle {
  height: 240px !important;
  background-color: black;
}
.bottom-nav div {
  margin: .5em;
}
.bottom-nav-right div {
  display: block;
  position: relative;
  width: 100%;
}
.bottom-nav-right img {
  height: 25px;
  width: 25px;
}
.bottom-nav-right img {
  display: inline-block;
}
.contact-me {
  font-size: 24px;
  font-weight: bold;
  margin-left: .5em;
}
.bottom-nav-right p {
  padding: 5px;
}
.first {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}
